*{box-sizing: border-box;}
body{margin: 0; background-color: #DAD1C3;}
@font-face {
    font-family: "Judson";
    src: url(Judson-Regular.ttf);
}
@font-face {
    font-family: "Great Vibes";
    src: url(GreatVibes-Regular.ttf);
}
::selection {
    background-color: #000;
    color: #fff;
}

header {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 17vh;
    background-color: #DAD1C3;
    margin-top: 5vh;
    border-radius: 2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 9999;
}
header>img {
    width: 15vh;
    height: 15vh;
}
header>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
header>div>a>img {
    width: 5vh;
    height: 5vh;
}
header>div>a {
    width: 70px;
    height: 8vh;
    margin-right: 3vw;
    margin-top: 0;
    margin-bottom: 0;
    color: inherit;
    text-decoration: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
header>div>a>p {
    margin: 0;
}
header>div>a>div{
    margin: 0;
    width: 3vw;
    height: 2.5vh;
    background-color: #000;
    border-radius: 1vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 45px;
}
#banner {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(hero.jpg);
    background-color: rgba(0, 0, 0, 50%);
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    padding-top: 20vh;
}
#banner>p {
    font-size: 3.5em;
    font-family: "Judson";
    color: #DAD1C3;
}
#pagcadastro {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
    color: #A69385;
    margin-top: 5vh;
}
#pagcadastro>div {
    width: 100%;
    font-size: 1.2em;
    font-family: "Judson";
}
#pagcadastro>div>div>label {
    margin-bottom: 1vh;
}
#pagcadastro>div>div{
    display: flex;
    flex-direction: column;
    margin-bottom: 1vh;
    margin-right: 1vw;
}
#pagcadastro>div>div>input {
    border: none;
    background-color: #fff;
    border-radius: 20px;
    padding: 5px;
    font-family: inherit;
    font-size: 1em;
    width: 100%;
}
#split4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
#split2 {
    display: grid;
    grid-template-columns: 1fr 1fr;

}
#split3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
#space {
    margin-top: 5vh;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#space>button {
    font-family: inherit;
    width: 10vw;
    min-width: 100px;
    font-size: 1em;
    background-color: #A69385;
    border: none;
    font-weight: bold;
    color: #DAD1C3;
    border-radius: 20px;
    margin-right: 1vw;
}
footer {
    margin-top: 10vh;
    font-family: "Judson";
    height: 50vh;
    background-color: #A69385;
    display: flex;
    justify-content: space-between;
    padding-right: 20%;
    padding-left: 20%;
    padding-top: 5vh;
    flex-wrap: wrap;
    color: #DAD1C3;
}

footer>div>h1 {
    text-align: left;
    margin: 0;
    margin-bottom: 3vh;
    font-size: 1.8em;
    width: 100%;
}
footer>form>h1 {
    text-align: right;
    margin: 0;
    margin-bottom: 3vh;
    font-size: 1.8em;
    width: 100%;
}
footer>div>section{
    display: flex;
    flex-direction: column;

}
footer>form>input {
    background-color: #fff;
    border: 1px #000 solid;
    border-radius: 5px;
    width: 100%;
}
footer>form {
    display: flex;
    flex-direction: column;
    align-items: end;
}
footer>form>div>section>input {
    width: 100%;
    background-color: #fff;
    border: 1px #000 solid;
    border-radius: 5px;
}
footer>form>label {
    width: 100%;
    text-align: left;
}
footer>form>button {
    margin-top: 2vh;
    background-color: #DAD1C3;
    color: #000;
    font-weight: bold;
    border: none;
    border-radius: 3vh;
    width: 30%;
    font-size: 1em;
    font-family: inherit;
}
footer>form>textarea{
    resize: vertical;
    background-color: #fff;
    border: 1px #000 solid;
    border-radius: 5px;
    width: 100%;
}
footer>form>div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
footer>form>div>section {
    display: flex;
    flex-direction: column;
    width: 100%;
}
footer>div>section>a {
    color: inherit;
    text-decoration: inherit;
}
@media (max-width:590px) {
    #pagcadastro {
        padding-left: 0;
        padding-right: 0;
    }
    #pagcadastro>div {
        font-size: 0.9em;
    }
}
@media (max-width:475px) {
    header>div>a>img {
        width: 2vh;
        height: 2vh;
    }

    header>div>a {
        height: 4vh;
        
    }
}
@media (max-width:400px) {
    #split4 {
        grid-template-columns: 1fr 1fr;
    }
    #split3 {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width:1200px) {
    footer>div>h1 {
        text-align: center;
    }
    footer>div>section {
        text-align: center;
    }
    footer>div {
        width: 100%
    }
    footer>form>h1 {
        text-align: center;
    }
    footer>form {
        width: 100%;
    }
    #pagcadastro>div>div>input {
        font-size: 0.8em;
    }
}
@media (max-width:365px) {
    header>div>a {
        margin-right: 0px;
        width: 50px;
        font-size: 0.7em;
    }
 
}