*{box-sizing: border-box;}
body{margin: 0; background-color: #DAD1C3;}
@font-face {
    font-family: "Judson";
    src: url(Judson-Regular.ttf);
}
@font-face {
    font-family: "Great Vibes";
    src: url(GreatVibes-Regular.ttf);
}
::selection {
    background-color: #000;
    color: #fff;
}
#resto {
    position: absolute;
    width: 100%;
    font-family: "Judson";
    z-index: -999;
}
#grande {
    background-image: url(hero.jpg);
    background-color: rgba(0, 0, 0, 50%);
    background-blend-mode: overlay;
    width: 100%;
    background-position: center;
    height: 80vh;
    background-size: cover;
    font-family: "Judson";
    position: absolute;
    margin-bottom: 80vh;
}
#grande>header {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 17vh;
    background-color: #DAD1C3;
    margin-top: 5vh;
    border-radius: 2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#grande>header>img {
    width: 15vh;
    height: 15vh;
}
#grande>header>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#grande>header>div>a>img {
    width: 5vh;
    height: 5vh;
}
#grande>header>div>a {
    width: 70px;
    height: 8vh;
    margin-right: 3vw;
    margin-top: 0;
    margin-bottom: 0;
    color: inherit;
    text-decoration: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
#grande>header>div>a>p {
    margin: 0;
}
#grande>header>div>a>div{
    margin: 0;
    width: 3vw;
    height: 2.5vh;
    background-color: #000;
    border-radius: 1vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 45px;
}
#grande>div {
    margin-top: 8vh;
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#grande>div>h2 {
    font-weight: normal;
    color: #DAD1C3;
    margin: 0;
    width: 23vw;
    text-align: center;
    margin-bottom: 2vh;
}
#grande>div>h1 {
    color: #DAD1C3;
    margin: 0;
    font-size: 4em;
    font-weight: normal;
    text-align: center;
}
#grande>div>a {
    color: #000;
    font-size: 1.5vw;
    min-width: 100px;
    width: 9vw;
    height: 5vh;
    min-height: 20px;
    display: flex; justify-content: center; align-items: center;
    background-color: #DAD1C3;
    border-radius: 10vh;
    text-decoration: inherit;
}
#desc {
    position: relative;
    top: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}
#desc>h1 {
    font-family: "Great Vibes";
    font-size: 2.5em;
    font-weight: normal;
}
#desc>div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 20vw;
}
#desc>div>p {
    font-size: 1.5em;
    width: 50vw;
    text-align: center;
    margin-right: 10vw;
}
#desc>div>img {
    width: 25vw;
    height: 20vh;
    object-fit: cover;
    filter:hue-rotate(-15deg) saturate(80%) brightness(80%) contrast(80%);

}
#redes {
    margin-top: 10vh;
    width: 100%;
    position: relative;
    top: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#redes>h1 {
    font-weight: bold;
    font-size: 2.2em;
    margin-bottom: 5vh;
}
#redes>section {
    display: flex;
    justify-content: space-between;
    width: 20vw;
    min-width: 200px;
}

#redes>section>a>img{
    width: 4vw;
    min-width: 50px;

}
#vendidos {
    margin-top: 10vh;
    width: 100%;
    position: relative;
    top: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#vendidos>h1 {
    font-weight: bold;
    font-size: 2.2em;
    margin-bottom: 5vh;
}
#vendidos>section {
    display: flex;
    justify-content: space-between;
    width: 60vw;
    text-align: center;
    height: 10vh;
}
#vendidos>section>div{
    width: 15vw;
    height: 45vh;
    background-color: #fff;
    border-radius: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#vendidos>section>div>img {
    width: 13vw;
    margin-top: 2vh;
    height: 20vh;
    object-fit: cover;
}
#vendidos>section>div>section {
    display: grid;
    width: 13vw;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    font-weight: normal;
    font-size: 0.9em;
}
#vendidos>section>div>p {
    font-weight: bold;
    font-size: 1.7em;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
#vendidos>section>div>section>h2{
    margin: 0;
}
#vendidos>section>div>section>h3 {
    margin: 0;
    color: #A69385;
}
#vendidos>section>div>a {
    color: #DAD1C3;
    text-decoration: inherit;
    width: 8vw;
    font-size: 1.1em;
    min-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    height: 4vh;
    background-color: #A69385;
    border-radius: 2vh;
}

footer {
    margin-top: 60vh;
    width: 100%;
    position: relative;
    top: 80vh;
    height: 50vh;
    background-color: #A69385;
    display: flex;
    justify-content: space-between;
    padding-right: 20%;
    padding-left: 20%;
    padding-top: 5vh;
    flex-wrap: wrap;
    color: #DAD1C3;
}

footer>div>h1 {
    text-align: left;
    margin: 0;
    margin-bottom: 3vh;
    font-size: 1.8em;
    width: 100%;
}
footer>form>h1 {
    text-align: right;
    margin: 0;
    margin-bottom: 3vh;
    font-size: 1.8em;
    width: 100%;
}
footer>div>section{
    display: flex;
    flex-direction: column;

}
footer>form>input {
    background-color: #fff;
    border: 1px #000 solid;
    border-radius: 5px;
    width: 100%;
}
footer>form {
    display: flex;
    flex-direction: column;
    align-items: end;
}
footer>form>div>section>input {
    width: 100%;
    background-color: #fff;
    border: 1px #000 solid;
    border-radius: 5px;
}
footer>form>label {
    width: 100%;
    text-align: left;
}
footer>form>button {
    margin-top: 2vh;
    background-color: #DAD1C3;
    color: #000;
    font-weight: bold;
    border: none;
    border-radius: 3vh;
    width: 30%;
    font-size: 1em;
    font-family: inherit;
}
footer>form>textarea{
    resize: vertical;
    background-color: #fff;
    border: 1px #000 solid;
    border-radius: 5px;
    width: 100%;
}
footer>form>div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
footer>form>div>section {
    display: flex;
    flex-direction: column;
    width: 100%;
}
footer>div>section>a {
    color: inherit;
    text-decoration: inherit;
}
@media (max-width:1024px) {
    #vendidos>section {
        width: 80vw;
    }
    #vendidos>section>div>a{ 
        font-size: 0.9em;
    }
    #vendidos>section>div {
        width: 20vw;
    }
    #vendidos>section>div>section {
        font-size: 0.7em;
    }
}
@media (max-width:1200px) {
    footer>div>h1 {
        text-align: center;
    }
    footer>div>section {
        text-align: center;
    }
    footer>div {
        width: 100%
    }
    footer>form>h1 {
        text-align: center;
    }
    footer>form {
        width: 100%;
    }
}
@media (max-width:475px) {
    #grande>header>div>a>img {
        width: 2vh;
        height: 2vh;
    }
    
    #grande>header>div>a {
        height: 4vh;
        
    }
    #grande>div>h1 {
        font-size: 2em;
    }
    #grande>div>h2 { 
        font-size: 1em;
    }
    #desc>div>p {
        font-size: 1em;
    }
    #redes>h1 {
        font-size: 1.8em;
    }
    #vendidos>h1 {
        font-size: 1.8em;
    }
    #vendidos>section>div>p {
        font-size: 1.2em;
    }
}
@media (max-width:665px) {
    #grande>div>a {
        font-size: 1em;
    }
    #vendidos>section>div>a{ 
        font-size: 0.7em;
    }
    #vendidos>section>div>section {
        font-size: 0.4em;
    }
}
@media (max-width:365px) {
    #grande>header>div>a {
        margin-right: 0px;
        width: 50px;
        font-size: 0.7em;
    }
    #vendidos>section {
        width: 100vw;
    }
    #vendidos>section>div {
        width: 30vw;
    }
    #vendidos>section>div>img {
        width: 25vw;
    }
}